{# O EXTEND QUER DIZER QUE ESTÁ HERDANDO O TEMPLATE, E NESSE CASO, DO TEMPLATE 'template_base.html' #}
{% extends 'template_base.html' %}

{% block menu_particular %}
    <li>
        <a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a>
    </li>
    <li>
        <a href="tela_user"><span class="glyphicon glyphicon-check" aria-hidden="true"></span> Meus Certificados</a>
    </li>
    <li>
        <a href="contato"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>Contato</a>
    </li>
{% endblock %}


{% block conteudo_site %}

    <section id="tela_admin">

        <div class="col-xs-12 panel panel-default">
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-messages">
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <strong>John Smith</strong>
                                    <span class="pull-right text-muted">
                                        <em>Yesterday</em>
                                    </span>
                                </div>
                                <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...</div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>Read All Messages</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-messages -->
                </li>

                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li><a href="#"><i class="fa fa-unlock-alt fa-fw"></i> Mudar Senha</a>
                        </li>
                        <li><a href="#"><i class="fa fa-gear fa-fw"></i> Meu Registro</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
            </ul>

            <br><br>
            <!-- Modal -->
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalLabel">Excluir usuário</h4>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir este usuário?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Sim</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                        </div>
                    </div>
                </div>
            </div>

            <div id="main" class="container-fluid">
                <h3 class="page-header">Nome do Usuário #1</h3>
                <div class="row">
                    <div class="col-md-4">
                        <p><strong>Campo Um</strong></p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Campo Dois</strong></p>
                        <p>Lorem ipsum dolor</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Campo Três</strong></p>
                        <p>123.456.789-0</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Campo Quatro</strong></p>
                        <p>In vel sollicitudin leo, id fermentum augue.</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Campo Cinco</strong></p>
                        <p>(00) 234-5678</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Campo Seis</strong></p>
                        <p>Nullam ultrices elit ante.</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Campo Sete</strong></p>
                        <p>Integer finibus in ligula vitae aliquet.</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Campo Oito</strong></p>
                        <p>Jes</p>
                    </div>

                    <div class="col-md-4">
                        <p><strong>Campo Nove</strong></p>
                        <p>Lundo, Merkredo, Vendredo</p>
                    </div>

                    <div class="col-md-8">
                        <p><strong>Campo Dez</strong></p>
                        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            In bibendum nunc urna, at vestibulum neque pellentesque eget.
                            Maecenas lacinia velit ante, vitae fermentum ex interdum et.
                            In vel sollicitudin leo, id fermentum augue. </p>
                    </div>
                </div>

                <hr/>
                <div id="actions" class="row">
                    <div class="col-md-12">
                        <a href="tela_user" class="btn btn-primary">Fechar</a>
                        <a href="#" class="btn btn-default">Atualizar</a>
                    </div>
                </div>
                <br>
                <br>
            </div>
        </div>
    </section>
{% endblock %}