{# O EXTEND QUER DIZER QUE ESTÁ HERDANDO O TEMPLATE, E NESSE CASO, DO TEMPLATE 'template_base.html' #}
{% extends 'template_base.html' %}

{% block menu_particular %}
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>Usuários<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="active"><a href="add_usuario"><i class="fa fa-unlock-alt fa-fw"></i> Novo</a></li>
            <li><a href="ger_usuarios"><i class="fa fa-gear fa-fw"></i> Todos</a></li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Vincular a um certificado</a></li>
        </ul>
    </li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>Certificados<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="cadastrar_certificado"><i class="fa fa-unlock-alt fa-fw"></i> Novo</a>
            </li>
            <li><a href="ger_certificados"><i class="fa fa-gear fa-fw"></i> Todos</a>
            </li>
        </ul>
    </li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>Eventos<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="cadastrar_evento"><i class="fa fa-unlock-alt fa-fw"></i> Novo</a>
            </li>
            <li><a href="eventos_view"><i class="fa fa-gear fa-fw"></i> Todos</a>
            </li>
        </ul>
    </li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>#NomeUsuário<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-unlock-alt fa-fw"></i> Mudar Senha</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Meu Registro</a>
            </li>
            <li class="page-scroll">
                <a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a>
            </li>
        </ul>
    </li>

{% endblock %}


{% block conteudo_site %}

    <!-- Seção Cadastro -->
    <section id="add_usuario">
        <div class="container">
            <br><br><br>
            <div class="row panel panel-default">
                <div class="container">
                    <div class="form-group">
                        <h4> Preencha os campos abaixo: </h4>
                    </div>
                    <br>
                    <form class="container" action="{{ url_for('ger_usuarios') }}" method="post">
                        <div class="form-group col-md-3">
                            <label for="cpf">CPF:</label>
                            <input type="text" placeholder="Campo Obrigatório" class="form-control cpf" name="cpf" required>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nome_completo">Nome completo:</label>
                            <input type="text" placeholder="Campo Obrigatório" class="form-control" name="nome" required>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="data_nasc">Data de Nascimento:</label>
                            <input id="date" type="text" placeholder="Campo Obrigatório" class="form-control date" name="data_nascimento"  required>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="sexo">Sexo:</label>
                            <select class="form-control" name="sexo" required>
                                <option>--------</option>
                                <option>Feminino</option>
                                <option>Masculino</option>
                            </select>
                        </div>

                        <div class="form-group col-md-5">
                            <label for="email">Informe seu e-mail:</label>
                            <input id="email" type="email" placeholder="Campo Obrigatório" class="form-control" name="email" required>
                        </div>
                        <br>
                        <div class="form-group col-md-2">
                            <label for="n_celular">Nº Celular:</label>
                            <input type="text" placeholder="(99) 9999-9999" class="form-control phone_with_ddd" name="n_celular"  required>
                        </div>

                        <div class="form-group col-md-2">
                            <label for="tel_fixo">Telefone Fixo:</label>
                            <input type="text" class="form-control phone_with_ddd" name="tel_fixo">
                        </div>

                        <div class="form-group col-md-5">
                            <label for="campus_polo">Campus/Polo (Se for o caso):</label>
                            <select class="form-control" name="campus_polo" required>
                                <option>------------------</option>
                                <option>Campus Ariquemes</option>
                                <option>Campus Cacoal</option>
                                <option>Campus Colorado do Oeste</option>
                                <option>Campus Guajará Mirim</option>
                                <option>Campus Jaru</option>
                                <option>Campus Ji-Paraná</option>
                                <option>Campus Porto Velho Calama</option>
                                <option>Campus Porto Velho Reitoria</option>
                                <option>Campus Porto Velho Zona Norte</option>
                                <option>Campus Vilhena</option>
                                <option>Polo Alta Floresta D'Oeste</option>
                                <option>Polo Ariquemes</option>
                                <option>Polo Buritis</option>
                                <option>Polo Cacoal</option>
                                <option>Polo Candeias do Jamari</option>
                                <option>Polo Cerejeiras</option>
                                <option>Polo Colorado do Oeste</option>
                                <option>Polo Costa Marques</option>
                                <option>Polo Cujubim</option>
                                <option>Polo Espigão do Oeste</option>
                                <option>Polo Guajará-Mirim</option>
                                <option>Polo Jaru</option>
                                <option>Polo Ji-Paraná</option>
                                <option>Polo Machadinho do Oeste</option>
                                <option>Polo Mirante da Serra</option>
                                <option>Polo Nova Brasilândia</option>
                                <option>Polo Nova Mamoré</option>
                                <option>Polo Ouro Preto do Oeste</option>
                                <option>Polo Porto Velho Centro</option>
                                <option>Polo Porto Velho Extrema</option>
                                <option>Polo Porto Velho Zona Norte</option>
                                <option>Polo Presidente Médice</option>
                                <option>Polo São Francisco do Guaporé</option>
                                <option>Polo São Miguel do Guaporé</option>
                                <option>Polo Vilhena</option>
                            </select>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="nome_completo">Curso/ Departamento:</label>
                            <input type="text" class="form-control" name="curso_departamento">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="senha">Senha:</label>
                            <input id="passwordagain" type="password" placeholder="Campo Obrigatório" class="form-control password" name="senha"  required>
                        </div>

                        <div class="form-group col-md-3">
                            <label for="senha">Confirmar Senha:</label>
                            <input id="passwordagain" type="password" placeholder="Campo Obrigatório" class="form-control" name="conf_senha"  required>
                        </div>
                        <br>
                        <br>
                        <hr/>
                        <div id="actions" class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn">Salvar</button>
                            </div>
                        </div>
                        <br>
                        <br>
                    </form>

                </div>

            </div>
        </div>
    </section>

{% endblock %}