{# O EXTEND QUER DIZER QUE ESTÁ HERDANDO O TEMPLATE, E NESSE CASO, DO TEMPLATE 'template_base.html' #}
{% extends 'template_base.html' %}

{% block menu_particular %}
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>Usuários<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li class="active"><a href="add_usuario"><i class="fa fa-unlock-alt fa-fw"></i> Novo</a></li>
            <li><a href="ger_usuarios"><i class="fa fa-gear fa-fw"></i> Todos</a></li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Vincular a um certificado</a></li>
        </ul>
    </li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>Certificados<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="cadastrar_certificado"><i class="fa fa-unlock-alt fa-fw"></i> Novo</a>
            </li>
            <li><a href="ger_certificados"><i class="fa fa-gear fa-fw"></i> Todos</a>
            </li>
        </ul>
    </li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>Eventos<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-unlock-alt fa-fw"></i> Novo</a>
            </li>
            <li><a href="eventos_view"><i class="fa fa-gear fa-fw"></i> Todos</a>
            </li>
        </ul>
    </li>
    <li class="dropdown active">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-user fa-fw"></i>#NomeUsuário<i class="fa fa-caret-down"></i>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-unlock-alt fa-fw"></i> Mudar Senha</a>
            </li>
            <li><a href="#"><i class="fa fa-gear fa-fw"></i> Meu Registro</a>
            </li>
            <li class="page-scroll">
                <a href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sair</a>
            </li>
        </ul>
    </li>

{% endblock %}

{% block conteudo_site %}

    <section id="ger_usuarios">

        <div class="col-xs-12 panel panel-default">
            <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="modalLabel">Excluir Usuário</h4>
                        </div>
                        <div class="modal-body">
                            Deseja realmente excluir este usuário?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Sim</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
                        </div>
                    </div>
                </div>
            </div>

            <br><br>
            <div id="main" class="container-fluid" style="margin-top: 50px">

                <div id="top" class="row">
                    <div class="col-sm-3">
                        <h3>Usuários</h3>
                    </div>
                    <div class="col-sm-6">

                        <div class="input-group h2">
                            <input name="data[search]" class="form-control" id="search" type="text" placeholder="Pesquisar Usuários">
                            <span class="input-group-btn">
                                    <button class="btn btn-primary" type="submit">
                                        <span class="glyphicon glyphicon-search"></span>
					                </button>
				                </span>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <a href="add_usuario" class="btn btn-primary pull-left h2">Novo Usuário</a>
                    </div>
                </div> <!-- /#top -->


                <hr />
                <div id="list" class="row">

                    <div class="table-responsive col-md-12">
                        <table class="table table-striped" cellspacing="0" cellpadding="0">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nome do Usuário</th>
                                <th>Campus/Polo</th>
                                <th>Email</th>
                                <th class="actions">Ações</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cadastro in cadastro %}
                                <tr>
                                    <td>{{ cadastro[0] }}</td>
                                    <td>{{ cadastro[2] }}</td>
                                    <td>{{ cadastro[8] }}</td>
                                    <td>{{ cadastro[5] }}</td>
                                    <td class="actions">
                                        <a class="btn btn-success btn-xs" href="visualizar_cadastro_usuario">Cadastro</a>
                                        <a class="btn btn-success btn-xs" href="admin_cert_do_usuario">Certificados</a>
                                        <a class="btn btn-success btn-xs" href="{{ url_for('editar_usuario', id=cadastro[0]) }}">Atualizar</a>
                                        <a class="btn btn-danger btn-xs"  href="#" data-toggle="modal" data-target="#delete-modal">Excluir</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                </div> <!-- /#list -->

                <div id="bottom" class="row">
                    <div class="col-md-12">
                        <ul class="pagination">
                            <li class="disabled"><a>&lt; Anterior</a></li>
                            <li class="disabled"><a>1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li class="next"><a href="#" rel="next">Próximo &gt;</a></li>
                        </ul><!-- /.pagination -->
                        <br>
                        <br>
                        <a href="#top">Voltar ao topo</a>
                        <br>
                        <br>
                    </div>
                </div> <!-- /#bottom -->
            </div> <!-- /#main -->
        </div>
    </section>
{% endblock %}
